<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <style>
        body{
            display: flex;
            justify-content: center;
        }
        .p1{
            width: 90%;
        }
        
    </style>
</head>
<body>
    <div class="p1">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, officia voluptates possimus, 
            impedit consequuntur culpa omnis nesciunt, velit accusamus reiciendis porro qui! Quos provident 
            alias, quisquam odit delectus cumque sint deserunt vitae! Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Quod hic rerum animi, quos iusto maxime dolores praesentium quas, aperiam 
            laudantium voluptatem sapiente minus amet sit, eligendi ullam porro. Quis molestias officia earum.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, officia voluptates possimus, 
            impedit consequuntur culpa omnis nesciunt, velit accusamus reiciendis porro qui! Quos provident 
            alias, quisquam odit delectus cumque sint deserunt vitae! Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Quod hic rerum animi, quos iusto maxime dolores praesentium quas, aperiam 
            laudantium voluptatem sapiente minus amet sit, eligendi ullam porro. Quis molestias officia earum.
        </p>
        <br>
    
    <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, magnam.</li><br>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In, numquam?</li>
        <li>Lorem ipsum dolor sit amet consectetur.</li>
        <li>Lorem ipsum dolor sit amet consectetur.</li>
        <li>Lorem ipsum dolor sit amet consectetur.</li>
        <br>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, veritatis!</li>
        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum?</li><br>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, perspiciatis.</li>
        <li>Lorem ipsum dolor sit amet consectetur.</li>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing.</li>
    </ul>
    </div>
    </body>
    </html>