<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <style>
        body{
            display: flex;
            justify-content: center;
        }
        .p1{
            width: 90%;
        }
        .left{
            width: 50%;
            float: left;
        }
        .right{
            width: 50%;
            float: right;
        }
        .left p,.right p{
            padding: 5px;
        }
    </style>
</head>
<body>
    <div class="p1">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, officia voluptates possimus, 
            impedit consequuntur culpa omnis nesciunt, velit accusamus reiciendis porro qui! Quos provident 
            alias, quisquam odit delectus cumque sint deserunt vitae! Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Quod hic rerum animi, quos iusto maxime dolores praesentium quas, aperiam 
            laudantium voluptatem sapiente minus amet sit, eligendi ullam porro. Quis molestias officia earum.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, officia voluptates possimus, 
            impedit consequuntur culpa omnis nesciunt, velit accusamus reiciendis porro qui! Quos provident 
            alias, quisquam odit delectus cumque sint deserunt vitae! Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Quod hic rerum animi, quos iusto maxime dolores praesentium quas, aperiam 
            laudantium voluptatem sapiente minus amet sit, eligendi ullam porro. Quis molestias officia earum.
        </p><br>
    
    <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, magnam.</li><br>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In, numquam?</li>
        <li>Lorem ipsum dolor sit amet consectetur.</li>
        <li>Lorem ipsum dolor sit amet consectetur.</li>
        <li>Lorem ipsum dolor sit amet consectetur.</li>
        <br>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, veritatis!</li>
        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum?</li><br>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, perspiciatis.</li>
        <li>Lorem ipsum dolor sit amet consectetur.</li>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing.</li>
    </ul><br>
    <div class="left">
       <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nostrum corrupti dignissimos recusandae,
         officia consequatur maxime. Consequatur similique temporibus distinctio quaerat, cumque, ullam nihil 
         explicabo dicta velit, necessitatibus numquam perspiciatis quos vel! Lorem ipsum, dolor sit amet consectetur
          adipisicing elit. Distinctio ipsum facilis nulla a perferendis omnis earum.</p>
    </div>
    <div class="right">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem, temporibus ea eos dolores reprehenderit 
        corporis quisquam sed perspiciatis quam. Laboriosam molestias eius laborum iste ut quam fugiat ex. Magni
         totam dolores quis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, reprehenderit repudiandae 
         sint alias enim error blanditiis?</p>
    </div>
    </div>
    </body>
    </html>